body {
  background-color: blue;
  min-height: 100vh;
}

/* Grey Worm theme */
.greyWorm {
  background-color: blue;
}

/* Blue Silence theme */
.blueSilence {
  background-color: #0a0f2b;
}

/* Soapy Marry Jane theme */
.soapyMarryJane {
  background-color: #102700;
}

/* Walk into Horizon theme */
.walkIntoHorizon {
  background-color: #4a0000;
}

/* Winter Saddness theme */
.winterSaddness {
  background-color: rgb(41, 0, 90);
}

.app {
  padding-top: 12rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: white; */
}

.todo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.todo-is-completed .checkbox {
  color: #000;
  background: #ffffff;
}

.todo-is-completed input {
  text-decoration: line-through;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #fff;
}

.checkbox:hover {
  background: rgba(219, 219, 219, 0.35);
  border: 1px solid rgba(255, 255, 255, 0);
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 52vw;
}

input {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}

.btn-group {
  position: absolute;
  margin-left: 88vw;
  top: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background: none;
  margin: 0.4rem;
  font-size: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  max-height: 5vh;
  color: white;
}

.btn span {
  opacity: 0.15;
}

.btn span:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  ul {
    width: 80vw;
  }
  .btn-group {
    margin-left: 77vw;
  }
  input {
    font-size: 1rem;
  }
}
